.u-section-1 .u-sheet-1 {
  min-height: 574px;
}

.u-section-1 .u-form-1 {
  height: 398px;
  width: 570px;
  margin: 88px auto 0;
}

.u-section-1 .u-label-1 {
  width: 116px;
  font-weight: 500;
  text-transform: none;
}

.u-section-1 .u-label-2 {
  width: 116px;
  font-weight: 500;
  text-transform: none;
}

.u-section-1 .u-label-3 {
  width: 116px;
  font-weight: 500;
  text-transform: none;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -61px auto 60px 303px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-top: -62px;
    margin-left: 202px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    transition-duration: 0.5s;
    margin-top: -26px;
    margin-left: auto;
  }
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  border-radius: 10px !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  border-radius: 10px !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}