{% extends 'user/base.html' %}
{% block content %}
<div class="col-6 mx-auto" style="margin-top:10%;">
    <form action="order_payment" method='POST'>
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="name" name="name" class="form-control" id="exampleInputEmail1" value="{{request.session.firstname}} {{request.session.Lastname}}" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Amount</label>
          <input type="number" name="amount" class="form-control" value="{{cart_total_amount}}" id="exampleInputPassword1">
        </div>
        <div>
        <button type="submit" class="btn btn-primary">Pay Now</button>
        </div>
      </form>
</div>
{% endblock %}